services:
  web:
    build: .
    container_name: automation-joy
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - webnet

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - webnet

networks:
  webnet:

volumes:
  caddy_data:
  caddy_config:
